body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9933, #ffffff, #138808);
}

.container {
    width: 75%;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    background: #eeeeee;
    padding: 10px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #222;
    color: white;
    padding: 10px;
    font-size: 14px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #999;
    font-size: 14px;
}


tr:hover {
    background: #f5f5f5;
}

.vid {
    font-weight: bold;
    color: #1a237e;
}

.photo {
    width: 145px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #333;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #11a2e0;
    color: white;
    font-size: 14px;
}

button:hover {
    background:blue;
}
