body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://media.gettyimages.com/id/1180591245/photo/voting-box-and-election-image-election.jpg?s=612x612&w=gi&k=20&c=uUDfdVpRmt9gsarZDKTRX8XjF951ViH0G53BSltML4E=');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 500px;
    margin: 40px auto;
    border-radius: 12px;
    background: linear-gradient(
        to right,
        #ff9933,
        #ffffff,
        #138808
    );

    box-shadow: 0 0 15px gray;
    padding: 15px;
    margin-top: 120px;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    justify-content: center;
}

.logo {
    width: 55px;
    margin-right: 15px;
}

.title h2 {
    margin: 0;
    font-size: 20px;
}

.title p {
    margin: 2px 0;
    font-size: 13px;
}

.content {
    display: flex;
    margin-top: 20px;
}

.photo {
    width: 35%;
    text-align: center;
}

.photo img {
    width: 150px;
    height: 180px;
    border: 2px solid black;
}

.details {
    width: 65%;
    padding-left: 20px;
}

.details p {
    margin: 6px 0;
    font-size: 14px;
}

.vid {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
}

.main-btn {
    text-align: center;
    margin-top: 20px;
}

.main-btn a button {
    width: 150px;
    height: 40px;
    padding: 8px 14px;
    margin: 0 6px;
    border: none;
    border-radius: 6px;
    background: #0c7beb;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.main-btn a button:hover {
    background:blue;
}
